
.moody-navbar {
  width: 100%;
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 1000;
  backdrop-filter: saturate(160%) blur(10px);
  background: rgba(25, 26, 30, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0.75rem 1rem;
}

.nav-inner {
  max-width: 100%;
  margin: 0 40px  ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    color: #fff;
    font-weight:bolder;
    font-size: 3.3rem;
}

.brand-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 60px;
    font-size: 2.3rem;
}

.brand-text {
    font-weight: bold;
  font-size: 1.3rem;
}
